@using Microsoft.AspNetCore.Identity
@using client_server.Data.Models
@inject SignInManager<UsersModel> SignInManager
@inject UserManager<UsersModel> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stoyan Georgiev | CV</title>
    <link href="~/lib/toastr/build/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Navigation: Start -->
    <nav class="navbar">
        <div class="navbar-name"><span class="bold">Stoyan Georgiev</span> / Junior Full Stack</div>
        <span id="mobileNav"><img src="~/images//navicon.svg" alt="Nav Icon" /></span>
        <ul class="navbar-list" id="navigation">
            <li><a class="scrollLink" href="#about">About</a></li>
            <li><a class="scrollLink" href="#resume">Resume</a></li>
            <li><a class="scrollLink" href="#projects">Projects</a></li>
            <li><a class="scrollLink" href="#contact">Contact</a></li>
            <li><a class="scrollLink" href="#comments">Comments</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li><a asp-action="Logout" asp-controller="User">Logout</a></li>
            }
            else
            {
                <li><a href="#login" data-target="#login" data-toggle="modal">Login</a></li>
            }
        </ul>
    </nav>
    <!-- Navigation: End -->

    @RenderBody()


    @if (SignInManager.IsSignedIn(User))
    {
        <input id="user_id" value="@UserManager.GetUserId(User)" type="hidden"/>
    }
    else
    {
        <input id="user_id" value="guest" type="hidden" />
    }
    <!-- Login Modal: Start -->
    <div class="modal" id="login">
        <div class="modal-header">
            <h2 class="modal-title">Login</h2>
            <a data-target="#login" class="close-modal" data-close="modal">X</a>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label class="input-label">Username</label>
                <input type="text" id="login_username" />
            </div>

            <div class="form-group">
                <label class="input-label">Password</label>
                <input type="password" id="login_password" />
            </div>

            <button class="modal-btn" id="loginSubmit">Login</button>

            <p>Don't have an account? <a data-target="#register" class="open-modal" data-toggle="modal" id="openRegister">Register!</a></p>
        </div>
    </div>
    <!-- Login Modal: End -->
    <!-- Register Modal: Start -->
    <div class="modal" id="register">
        <div class="modal-header">
            <h2 class="modal-title">Register</h2>
            <a data-target="#register" class="close-modal" data-close="modal">X</a>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label class="input-label">Username</label>
                <input type="text" id="register_username" />
            </div>

            <div class="form-group">
                <label class="input-label">Email</label>
                <input type="text" id="register_email" />
            </div>

            <div class="form-group">
                <label class="input-label">Password</label>
                <input type="password" id="register_pass1" />
            </div>

            <div class="form-group">
                <label class="input-label">Confirm Password</label>
                <input type="password" id="register_pass2" />
            </div>

            <button class="modal-btn" id="registerSubmit">Register</button>
        </div>
    </div>
    <!-- Register Modal: End -->

    <div id="backdrop"></div>
    <!-- Footer: Start -->
    <footer>
        <div class="copyright">&copy; 2020 Stoyan Georgiev</div>
        <ul>
            <li>
                <span>Call</span>
                <span>+359885048855</span>
            </li>
            <li>
                <span>Write</span>
                <span>stoyang9@gmail.com</span>
            </li>
            <li>
                <span>Follow</span>
                <span>

                    <a href="https://www.facebook.com/stoyan.georg/" target="_blank" rel="noopener noreferrer">
                        <img class="social-icon" src="images//facebook-circular-logo.svg" alt="Facebook Logo" />
                    </a>

                    <a href="https://github.com/stucy" target="_blank" rel="noopener noreferrer">
                        <img class="social-icon" src="images/github.svg" alt="Github Logo" />
                    </a>

                </span>
            </li>
        </ul>
    </footer>
    <!-- Footer: End -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script src="~/js/ajax.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
